h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 30px;

}

input::placeholder,
textarea::placeholder {
    color: #888;
    font-size: 14px;
    outline: none;
    box-shadow: 0 0 5px purple;
}
.container-tabela{

    width:100%;
    overflow-x:auto;

}
table{

    width:100%;
    max-width:100%;
    border-collapse:collapse;
    table-layout:auto;

}

th,
td{

    padding:14px;
    text-align:center;
    word-break:break-word;

}

@media(max-width:768px){

    table{

        font-size:14px;

    }

    button{

        width:120%;
        max-width:200px;

    }

}