<!DOCTYPE html>
<html lang="pt-BR">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/consulta.css') }}">


    <title>Consulta</title>

</head>

<body>

    <h1>Pesquisar vendas</h1>
    <!--Barra de pequisa para os registros feitos nas paginas de cadastro e estoque-->
    <h2>Pesquisar Vendas</h2>

    <form>

        <input type="text" name="pesquisa_vendas" placeholder="Cliente ou produto">

        <button>
            Pesquisar
        </button>

    </form>

<div class="container-tabela">
    <table>

        <tr>

            <th>Cliente</th>
            <th>Produto</th>
            <th>Peças</th>
            <th>Valor Total</th>
            <th>Excluir</th>

        </tr>

        {% for venda in vendas %}

        <tr>

            <td>{{ venda["Nome"] }}</td>

            <td>{{ venda["Produto"] }}</td>

            <td>{{ venda["Peças"] }}</td>

            <td>{{ venda["Valor Total"] }}</td>

            <td>

                <a href="{{ url_for('excluir',linha=venda.linha) }}"
                    onclick="return confirm('Deseja realmente excluir esta venda?')">

                    <button>
                        Excluir
                    </button>

                </a>

            </td>

        </tr>

        {% endfor %}

    </table>

</div>

    <h2>Pesquisar Estoque</h2>

    <form>

        <input type="text" name="pesquisa_estoque" placeholder="Produto ou responsável">

        <button>
            Pesquisar
        </button>

    </form>

<div class="container-tabela">
    <table>

        <tr>

            <th>Responsável</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Valor Pago</th>
            <th>Excluir</th>

        </tr>

        {% for item in estoque %}

        <tr>

            <td>{{ item["Responsável"] }}</td>

            <td>{{ item["Itens"] }}</td>

            <td>{{ item["Quantidade"] }}</td>

            <td>{{ item["Valor Pago"] }}</td>

            <td>

                <a href="{{ url_for('excluir_estoque',
linha=item.linha) }}" onclick="return confirm('Deseja realmente excluir este item do estoque?')">

                    <button>
                        Excluir
                    </button>

                </a>

            </td>

        </tr>

        {% endfor %}

    </table>

</div>
    <!--Botão que retorna a pagina inicial-->
    <div class="botoes">

        <a href="{{ url_for('inicio') }}">

            <button>

                Voltar

            </button>

        </a>

    </div>



</body>

</html>