<!DOCTYPE html>
<html lang="pt-BR">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<head>
    <meta charset="UTF-8">
    <title>Financeiro</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>

<body>


    <h1>Financeiro</h1>



    <div class="dados">

        <div class="item">
            <label>Receita:</label>
            <p>R$ {{ receita }}</p>
        </div>

        <div class="item">
            <label>Custo:</label>
            <p>R$ {{ custo }}</p>
        </div>

        <div class="item">
            <label>Lucro:</label>
            <p>R$ {{ lucro }}</p>
        </div>

    </div>

    <h2>Estoque Atual</h2>

    <ul>
        {% for produto, quantidade in estoque.items() %}

        <li>
            {{ produto }} : {{ quantidade }} restantes
        </li>

        {% endfor %}
    </ul>
    <div class="botoes">

        <a href="{{ url_for('inicio') }}">
            <button class="action">Voltar</button>
        </a>
    </div>

</body>

</html>