<!DOCTYPE html>
<html lang="pt-BR">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<head>
    <meta charset="UTF-8">
    <title>Financeiro</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>

<body>


    <h1>Financeiro</h1>
    <div class="dados">

    <div class="card">
        <h2>Receita</h2>
        <p>
            R$ {{ "%.2f"|format(receita)|replace(".", ",") }}
        </p>
    </div>

    <div class="card">
        <h2>Custo</h2>
        <p>
            R$ {{ "%.2f"|format(custo)|replace(".", ",") }}
        </p>
    </div>

    <div class="card">
        <h2>Lucro</h2>
        <p>
            R$ {{ "%.2f"|format(lucro)|replace(".", ",") }}
        </p>
    </div>

</div>



 <h2>Estoque Atual</h2>




<table border="1">
<tr>
    <th>Produto:</th>
    <th>Restante:</th>
    <th>Valor Pago:</th>
    <th>Valor Unitário:</th>
</tr>
{% for produto, dados in estoque.items() %}
<tr>
    <td>{{ produto }}</td>
    <td>{{ dados.restante }}</td>
    <td>R$ {{ "%.2f"|format(dados.valor_pago)|replace(".", ",") }}</td>
    <td>R$ {{ "%.2f"|format(dados.valor_unitario)|replace(".", ",") }}</td>
</tr>
{% endfor %}
</table>





    <div class="botoes">

        <a href="{{ url_for('inicio') }}">
            <button class="action">Voltar</button>
        </a>
    </div>

</body>

</html>